<h1>Edit Reservation</h1>

<%= form_with(model: [@reservation.room, @reservation], local: true) do |f| %>
  <div>
    <%= f.label :start_time, "Start Time" %>
    <%= f.select :start_time,
          options_for_select((9..18).map { |hour| ["#{hour}:00", Time.zone.now.change(hour: hour, min: 0)] }, @reservation.start_time.strftime("%H:%M")) %>
  </div>

  <div>
    <%= f.label :end_time, "End Time" %>
    <%= f.select :end_time,
          options_for_select((9..18).map { |hour| ["#{hour}:00", Time.zone.now.change(hour: hour, min: 0)] }, @reservation.end_time.strftime("%H:%M")) %>
  </div>

  <%= f.submit "Update Reservation", class: "btn btn-primary mt-3" %>
<% end %>
