<!-- filepath: app/views/reservations/new.html.erb -->
<h1>Reserve <%= @room.name %></h1>

<% if @reservation.errors.any? %>
  <div class="errors">
    <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>
    <ul>
      <% @reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@room, @reservation]) do |f| %>
  <div>
    <%= f.label :start_time, "Start Time" %>
    <%= f.datetime_select :start_time %>
  </div>

  <div>
    <%= f.label :end_time, "End Time" %>
    <%= f.datetime_select :end_time %>
  </div>

  <%= f.submit "Reserve" %>
<% end %>

<%= link_to 'Back', rooms_path %>