<h1>Reserve <%= @room.name %></h1>

<%= form_with(model: [@room, @reservation]) do |f| %>
  <div>
    <%= f.label :start_time, "Start Time" %>
    <%= f.datetime_select :start_time %>
  </div>

  <div>
    <%= f.label :end_time, "End Time" %>
    <%= f.datetime_select :end_time %>
  </div>

  <%= f.submit "Reserve" %>
<% end %>

<%= link_to 'Back', rooms_path %>
