<!DOCTYPE html>
<html>
<head>
  <title>Office Room Reservation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
  <nav>
    <%= link_to 'Home', root_path %>
    <%= link_to 'Rooms', rooms_path %>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Sign up', new_user_registration_path %>
    <% end %>
  </nav>

  <%= yield %>
</body>
</html>
